$palletColor1: #01172F;
$palletColor2: #CE5374;
$palletColor3: #DDF0FF;
$palletColor4: #9C0D38;
$palletColor5: #DBBBF5;
$white: white;

$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}) {
        @content
    }
}