@import "../../global.scss";

.menu {
    width: 300px;
    height: 100vh;
    background-color: $palletColor1;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.dark {
        background-color: $palletColor4;
    }

    &.active{
        right: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 30px;
        font-weight: 200;
        color: $palletColor3;
        width: 60%;

        &.dark {
            color: $palletColor1;
        }

        li {
            margin-bottom: 25px;

            a {
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }

            &:hover {
                color: $palletColor1;
            }

            &.darkmode-icon {
                margin: 50px 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}